.app-container {
    max-width: 800px;
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    justify-content: center;
}

.column {
    padding: 10px;
}

.column:nth-child(1) {

}

.column:nth-child(2) {

}